@model Chaos.Wedding.Models.Games.Contract.Alternative

@{
    ViewBag.Title = "EditAlternative";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<div class="games-backward">
    <a href="@Url.Action("EditQuestion", "Game", new { questionId = Model.QuestionId })">
        <i class="far fa-save clickable success" onclick="saveAlternative()" title="Save alternative"></i>
        <i class="fas fa-backward clickable success"></i>
    </a>
</div>

<div class="game-row">
    <div>
        <h2>@Model.Titles.UserTitle.Title (@Model.Titles.UserTitle.Language.Name)</h2>
    </div>
</div>

<h3>Titles</h3>
<div id="Titles">
    @foreach (var title in (List<string>)Session["Languages"])
    {
        var existingTitle = Model.Titles.FirstOrDefault(t => t.Language.Name == title);
        <div class="game-row">
            <div>
                <div class="game-columnHeader">Language</div>
                <input type="text" id='@FormattableString.Invariant($"Language_{title}")' value="@title" disabled="disabled" />
            </div>
            <div>
                <div class="game-columnHeader">Title</div>
                <input type="text" id='@FormattableString.Invariant($"Title_{title}")' value="@(existingTitle?.Title)" />
            </div>
            <div>
                <div class="game-columnHeader">Description</div>
                <input type="text" id='@FormattableString.Invariant($"Description_{title}")' value="@(existingTitle?.Description)" />
            </div>
        </div>
    }
</div>

<h3>Image</h3>
<div class="game-row">
    <div>
        <input type="text" id="ImageId" value="@Model.ImageId" class="input-wide" />
    </div>
</div>

<h3>CorrectRow</h3>
<div class="game-row">
    <div>
        <input type="text" id="CorrectRow" value="@Model.CorrectRow" />
    </div>
</div>

<h3>CorrectColumn</h3>
<div class="game-row">
    <div>
        <input type="text" id="CorrectColumn" value="@Model.CorrectColumn" />
    </div>
</div>

<h3>IsCorrect</h3>
<div class="game-row">
    <div>
        <input type="checkbox" id="IsCorrect" value="@Model.IsCorrect" checked="checked" />
    </div>
</div>

<h3>ScoreValue</h3>
<div class="game-row">
    <div>
        <input type="text" id="ScoreValue" value="@Model.ScoreValue" />
    </div>
</div>

<h3>CorrectAnswer</h3>
<div class="game-row">
    <div>
        <input type="text" id="CorrectAnswer" value="@Model.CorrectAnswer" />
    </div>
</div>

<script type="text/javascript">
    function saveAlternative() {
        try {
            var alternativeId = @Model.Id;
            var questionId = @Model.QuestionId;
            var imageId = document.getElementById("ImageId").value;
            var correctRow = document.getElementById("CorrectRow").value;
            var correctColumn = document.getElementById("CorrectColumn").value;
            var isCorrect = document.getElementById("IsCorrect").checked;
            var scoreValue = document.getElementById("ScoreValue").value;
            var correctAnswer = document.getElementById("CorrectAnswer").value;
            var titles = "";

            var titleInputs = document.getElementById("Titles").getElementsByTagName("input");
            for (var i = 0; i < titleInputs.length; i++) {
                var language = titleInputs[i].value;
                var title = titleInputs[i + 1].value;
                var description = titleInputs[i + 2].value;
                i++;
                i++;
                if (title) {
                    titles += language + "¤" + title + "¤" + description + "|";
                }
            }

            var url = "@Url.Action("SaveAlternative", "Game")";
            var data = {
                alternativeId: alternativeId,
                questionId: questionId,
                imageId: imageId,
                correctRow: correctRow,
                correctColumn: correctColumn,
                isCorrect: isCorrect,
                scoreValue: scoreValue,
                correctAnswer: correctAnswer,
                titles: titles
            };
            gamesCallAjax(url, data);
        } catch (e) {
            window.notification("danger", e, "", 60000);
        }
    }
</script>