@using Chaos.Wedding.Models.Games
@model IEnumerable<Chaos.Wedding.Models.Games.Contract.Game>

@{
    ViewBag.Title = "Edit games";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
    var systemData = (SystemData)this.Session["SystemData"];
}

@if (int.TryParse(this.Session["TeamId"]?.ToString(), out var teamId))
{
    <h2>Edit team</h2>
    <a href="@Url.Action("EditTeam", "Game", new { gameId = teamId })">
        <i class="fas fa-users clickable"></i>
        <i class="fas fa-pen clickable"></i>
    </a>
}

@if ((bool)this.Session["SystemAdmin"])
{
    <h2>Edit games</h2>
    foreach (var game in Model)
    {
        <div class="game-row">
            <a href="@Url.Action("EditGame", "Game", new { gameId = game.Id })">
                <div class="game-title">@game.Titles.UserTitle.Title (@game.Titles.UserTitle.Language.Name)</div>
            </a>
        </div>
    }

    <a href="@Url.Action("EditGame", "Game", new { gameId = 0 })"><i class="fas fa-plus" title="Add game"></i></a>

    <h2>System</h2>
    <i class="fas fa-bolt clickable" onclick="resetCache();"></i>
    if (this.Session["GameId"] != null)
    {
        <h2>LockAllChallenges</h2>
        <i class="fas fa-user-lock clickable" onclick="lockAllChallenges(false);"></i>
        <i class="fas fa-key clickable" onclick="lockAllChallenges(true);"></i>
    }
}
else
{
    <div class="game-row">
        <div>
            Username:
        </div>
        <div>
            <input type="text" id="Username" name="username" />
        </div>
    </div>
    <div class="game-row">
        <div>
            Password:
        </div>
        <div>
            <input type="password" id="Password" />
        </div>
    </div>
    <i class="fas fa-sign-out-alt clickable error" onclick="adminLogin();" title="Log in"></i>
}

<script type="text/javascript">
    function lockAllChallenges(unlock) {
        try {
            if (!unlock && !confirm("Är du säker på att du vill låsa allt?")) {
                return;
            }

            if (unlock && !confirm("Är du säker på att du vill låsa upp allt?")) {
                return;
            }

            var url = "@Url.Action("LockAllChallenges", "Game")";
            var data = { unlock: unlock };
            gamesCallAjax(url, data);
        } catch (e) {
            window.notification("danger", e, "", 60000);
        }
    }

    function resetCache() {
        try {
            var url = "@Url.Action("ResetGameCache", "Game")";
            var data = {};
            gamesCallAjax(url, data);
        } catch (e) {
            window.notification("danger", e, "", 60000);
        }
    }

    function adminLogin() {
        try {
            var username = document.getElementById("Username").value;
            var password = document.getElementById("Password").value;
            var url = "@Url.Action("AdminLogin", "Game")";
            var data = { username: username, password: password };
            gamesCallAjax(url, data);
        } catch (e) {
            window.notification("danger", e, "", 60000);
        }
    }
</script>
