@model Chaos.Wedding.Models.Games.Contract.Game

@{
    ViewBag.Title = "Game";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<h2>@Model.Titles.UserTitle.Title (@Model.Titles.UserTitle.Language.Name)</h2>
<h3>Titles</h3>
<div id="Titles">
    @foreach (var title in (List<string>)Session["Languages"])
    {
        var existingTitle = Model.Titles.FirstOrDefault(t => t.Language.Name == title);
        <div>
            <div><input type="text" id='@FormattableString.Invariant($"Language_{title}")' value="@title" disabled="disabled" /></div>
            <div>Titel: <input type="text" id='@FormattableString.Invariant($"Title_{title}")' value="@(existingTitle?.Title)" /></div>
            <div>Beskrivning: <input type="text" id='@FormattableString.Invariant($"Description_{title}")' value="@(existingTitle?.Description)" /></div>
        </div>
    }
</div>

<h3>Image</h3>
<div>
    <div>ImageId: <input type="text" id="ImageId" value="@Model.ImageId" /></div>
</div>

<h3>Width</h3>
<div>
    <div>Width: <input type="text" id="Width" value="@Model.Width" /></div>
</div>

<h3>Height</h3>
<div>
    <div>Width: <input type="text" id="Height" value="@Model.Height" /></div>
</div>

<i class="far fa-save" onclick="saveGame()" title="Spara"></i>

<h3>Zones</h3>
@foreach (var zone in Model.Zones)
{
    <div>
        <div>@zone.Titles.UserTitle.Title (@zone.Titles.UserTitle.Language.Name)</div>
    </div>
}

@if (Model.Id > 0)
{ 
    <div>
        <a href="@Url.Action("EditZone", "Game", new { zoneId = 0, gameId = Model.Id })"><i class="fas fa-plus" title="Lägg till"></i></a>
    </div>
}

<script type="text/javascript">
    function saveGame() {
        try {
            var gameId = @Model.Id;
            var imageId = document.getElementById("ImageId").value;
            var width = document.getElementById("Width").value;
            var height = document.getElementById("Height").value;
            var titles = "";

            var titleInputs = document.getElementById("Titles").getElementsByTagName("input");
            for (var i = 0; i < titleInputs.length; i++) {
                var language = titleInputs[i].value;
                var title = titleInputs[i + 1].value;
                var description = titleInputs[i + 2].value;
                titles += language + "¤" + title + "¤" + description + "|";
                i++;
                i++;
            }

            $.ajax({
                url: "@Url.Action("SaveGame", "Game")",
                data: { gameId: gameId, imageId: imageId, width: width, height: height, titles: titles },
                type: "POST",
                success: function (successMessage) {
                    window.notification("success", successMessage, "", 15000);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    window.notification("danger", thrownError, "", 15000);
                }
            });
        } catch (e) {
            window.notification("danger", e, "", 15000);
        }
    }
</script>