@using Chaos.Movies.Contract
@model MovieDto

<div class="item right">
    <div class="itemContent">
        <div class="ratingRow">
            <div class="ratingIcon">
                <span class="ratingScore">@Model.TotalRating.DisplayValue</span>
                <img src="~/images/icons/external/CMDB.ico" />
            </div>
            <div class="ratingBackground">
                <div style="background-color: @Model.TotalRating.HexColor; height: 100%; width: @Model.TotalRating.Width;">
                </div>
            </div>
            <div class="ratingStars">
                <img src="~/images/StarRowTransparent.svg" />
            </div>
        </div>
    </div>
</div>

@foreach (var externalRating in Model.ExternalRatings)
{
    // ToDo:
    var externalLink = Model.ExternalLookups.FirstOrDefault(l => l.ExternalSource.Id == externalRating.ExternalSource.Id);
    <div class="item right" title="@string.Format("{0} - {1} ({2}) 2018-To-Do", externalRating.ExternalSource.Name, externalRating.DisplayValue, externalRating.RatingCount)">
        <div class="itemContent">
            <div class="ratingRow">
                <div class="ratingIcon">
                    @if (externalLink != null)
                    {
                        <a href="https://www.imdb.com/title/@externalLink.ExternalId">
                            <span class="ratingScore">@externalRating.DisplayValue</span>
                            <img src="~/images/icons/external/@externalRating.ExternalSource.LogoIcon" />
                        </a>
                    }
                    else
                    {
                        <span class="ratingScore">@externalRating.DisplayValue</span>
                        <img src="~/images/icons/external/@externalRating.ExternalSource.LogoIcon" />
                    }
                </div>
                <div class="ratingBackground">
                    <div style="background-color: @externalRating.HexColor; height: 100%; width: @externalRating.Width;">
                    </div>
                </div>
                <div class="ratingStars">
                    <img src="~/images/StarRowTransparent.svg" />
                </div>
            </div>
        </div>
    </div>
}

<br />
@{ var headTitle = $"rating{Model.UserRatings.RatingType.Id}"; }
<h3 class="accordion-toggle" data-toggle="collapse" data-target="#@headTitle" style="display: inline-block;">
    @Model.UserRatings.RatingType.Titles.UserTitle.Title
</h3>
<div class="ratingRow" style="display: inline-block;">
    <div class="ratingIcon">
        <span class="ratingScore">@Model.UserRatings.DisplayValue</span>
    </div>
    <div class="ratingBackground">
        <div style="background-color: @Model.UserRatings.HexColor; height: 100%; width: @Model.UserRatings.Width;">
            @if (Model.UserRatings.ActualRating == 0)
            {
                <div style="height: 100%; width: 100%; background-image: url(/images/DerivedBackground.png)"></div>
            }
        </div>
    </div>
    <div class="ratingStars clickable" onclick="saveMovieRating(event, this, false, @Model.UserRatings.RatingType.Id);">
        <img src="~/images/StarRowTransparent.svg" />
    </div>
</div>
<div id="@headTitle" class="collapse in">
    @foreach (var mainRatings in Model.UserRatings.SubRatings)
    {
        <div class="item" style="display: block;">
            @{
                var mainTitle = $"rating{mainRatings.RatingType.Id}";
                if (mainRatings.SubRatings.Count > 0)
                {
                    <h4 class="accordion-toggle collapsed" data-toggle="collapse" data-target="#@mainTitle" style="display: inline-block;">
                        @mainRatings.RatingType.Titles.UserTitle.Title
                    </h4>
                }
                else
                {
                    <h4 style="display: inline-block;">
                        @mainRatings.RatingType.Titles.UserTitle.Title
                    </h4>
                }
            }
            <div class="ratingRow" style="display: inline-block;">
                <div class="ratingIcon">
                    <span class="ratingScore">@mainRatings.DisplayValue</span>
                </div>
                <div class="ratingBackground">
                    <div style="background-color: @mainRatings.HexColor; height: 100%; width: @mainRatings.Width;">
                        @if (mainRatings.ActualRating == 0)
                        {
                            <div style="height: 100%; width: 100%; background-image: url(/images/DerivedBackground.png)"></div>
                        }
                    </div>
                </div>
                <div class="ratingStars clickable" onclick="saveMovieRating(event, this, false, @mainRatings.RatingType.Id);">
                    <img src="~/images/StarRowTransparent.svg" />
                </div>
            </div>
            <div id="@mainTitle" class="collapse">
                @foreach (var secondaryRatings in mainRatings.SubRatings)
                {
                    <div>
                        @{
                            var secondaryTitle = $"rating{secondaryRatings.RatingType.Id}";
                            if (secondaryRatings.SubRatings.Count > 0)
                            {
                                <h5 class="accordion-toggle collapsed" data-toggle="collapse" data-target="#@secondaryTitle" style="display: inline-block;">
                                    @secondaryRatings.RatingType.Titles.UserTitle.Title
                                </h5>
                            }
                            else
                            {
                                <h5 style="display: inline-block;">
                                    @secondaryRatings.RatingType.Titles.UserTitle.Title
                                </h5>
                            }
                        }
                        <div class="ratingRow" style="display: inline-block;">
                            <div class="ratingIcon">
                                <span class="ratingScore">@secondaryRatings.DisplayValue</span>
                            </div>
                            <div class="ratingBackground">
                                <div style="background-color: @secondaryRatings.HexColor; height: 100%; width: @secondaryRatings.Width;">
                                    @if (secondaryRatings.ActualRating == 0)
                                    {
                                        <div style="height: 100%; width: 100%; background-image: url(/images/DerivedBackground.png)"></div>
                                    }
                                </div>
                            </div>
                            <div class="ratingStars clickable" onclick="saveMovieRating(event, this, false, @secondaryRatings.RatingType.Id);">
                                <img src="~/images/StarRowTransparent.svg" />
                            </div>
                        </div>
                        <div id="@secondaryTitle" class="collapse">
                            @foreach (var detailRatings in secondaryRatings.SubRatings)
                            {
                                <h6 style="display: inline-block; width: 30%;">
                                    @detailRatings.RatingType.Titles.UserTitle.Title
                                </h6>
                                <div class="ratingRow" style="display: inline-block;">
                                    <div class="ratingIcon">
                                        <span class="ratingScore">@detailRatings.DisplayValue</span>
                                    </div>
                                    <div class="ratingBackground">
                                        <div style="background-color: @detailRatings.HexColor; height: 100%; width: @detailRatings.Width;">
                                            @if (detailRatings.ActualRating == 0)
                                            {
                                                <div style="height: 100%; width: 100%; background-image: url(/images/DerivedBackground.png)"></div>
                                            }
                                        </div>
                                    </div>
                                    <div class="ratingStars clickable" onclick="saveMovieRating(event, this, false, @detailRatings.RatingType.Id);">
                                        <img src="~/images/StarRowTransparent.svg" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>
<script type="text/javascript">
    saveMovieRating = function (event, sender, rightToLeft, ratingTypeId) {
        var ratingValue = GetRatingFromPosition(event, sender, rightToLeft, 200);
        $.ajax({
            url: "@Url.Action("SaveMovieRating", "View")",
            data: { movieId: @Model.Id, ratingTypeId: ratingTypeId, ratingValue: ratingValue },
            type: "POST",
            success: function () {
                $(sender).prev().children().first().css("width", ratingValue * 10 + "%");
                $(sender).prev().prev().children().first().text(ratingValue);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showError(xhr.responseText);
            }
        });
    };
</script>