@using Chaos.Movies.Contract
@model Tuple<MovieDto, System.Collections.ObjectModel.ReadOnlyCollection<WatchTypeDto>>
<!--
<div style="position: absolute; width: 750px; height: 1334px; border: black 1px solid;">
    <img src="~/images/StarTransparent.svg" />
</div>
<div style="position: absolute; width: 1334px; height: 750px; border: black 1px solid;">

</div>
-->

@{ var movie = Model.Item1; }
<h1>@movie.Titles.UserTitle.Title (@movie.Year) (@movie.MovieType.Titles.UserTitle.Title)</h1>
@if (movie.Titles.OriginalTitle != null)
{
    <!--ToDo: Original title name-->
    <span>@movie.Titles.OriginalTitle.Title (Original title) - @string.Join(" - ", movie.Genres.Select(g => g.Titles.UserTitle.Title))</span>
}
<div class="col-md-12">
    <div class="col-md-8">
        <h2 class="accordion-toggle" data-toggle="collapse" data-target="#ratings">Ratings</h2>
        <div id="ratings" class="collapse in">
            @await Html.PartialAsync("MovieRatings", movie)
        </div>
        <h2 class="accordion-toggle" data-toggle="collapse" data-target="#characters">Actors/Characters</h2>
        <div id="characters" class="collapse in">
            @await Html.PartialAsync("Cast", movie)
        </div>
        <h2 class="accordion-toggle" data-toggle="collapse" data-target="#people">Cast/Crew</h2>
        <div id="people" class="collapse in">
            @await Html.PartialAsync("Crew", movie)
        </div>
    </div>
    <div class="col-md-4">
        @await Html.PartialAsync("WatchMovie", Model)

        <h2>Owned</h2>
        <div class="item actionButton">
            Blu-Ray
        </div>
        <div class="item actionButton">
            Digital
        </div>
        <div class="item actionButton">
            DVD
        </div>

        <h2>MovieSeries</h2>

    </div>
</div>