@using Chaos.Movies.Contract
@model MovieDto
<!--Dont show actors-->
@foreach (var department in Model.People.GroupBy(p => p.Department.Id).Select(d => d.First().Department))
{
    <h3 class="accordion-toggle" data-toggle="collapse" data-target="#Department_@department.Id">@department.Titles.First().Title</h3>
    <div id="Department_@department.Id" class="col-md-12 collapse in">
        @foreach (var personInRole in Model.People.Where(p => p.Department.Id == department.Id))
        {
            <div class="row">
                <div class="item">
                    <a href="@Url.Action("Person", "View", new { movieId = personInRole.Person.Id})">
                        <div class="listIcon small">
                            <img src="~/images/icons/Male.png" />
                        </div>
                    </a>
                    <div class="itemContent">
                        <a href="@Url.Action("Person", "View", new { movieId = personInRole.Person.Id})">
                            <div class="name">
                                <h4>@personInRole.Person.Name</h4>
                            </div>
                        </a>
                        <h4>@personInRole.Role.Titles.First(t => t.LanguageType == LanguageType.Default).Title</h4>
                        <!---->
                        <!---->
                    </div>
                </div>
            </div>
        }
    </div>
}