@{
    ViewBag.Title = "Hej och välkomna till vår bröllopssida!";
}

<div class="contentBackground">
    <h2>@ViewBag.Title</h2>
    <h3>
        Erik & Caroline
    </h3>
    <b id="countDownDate"></b>
    <br />
    <br />
    <br />
    <br />
    <div class="newsItem">
        <h4>Bröllopsdagen</h4>
        <p>
            Nu har vi lagt upp lite mer information om vad dagen kommer innehålla på sidan @Html.ActionLink("Bröllopsdagen", "Schema", "Home").
        </p>
        <span class="">2020-07-24 12:00</span>
    </div>
    <div class="newsItem">
        <h4>Ny festlokal</h4>
        <p>
            Bröllopsfesten kommer nu istället äga rum på <a href="http://rocksjon.se/restaurang/">Rocksjön Hotell och Restaurang</a>.
        </p>
        <span class="">2020-06-12 11:45</span>
    </div>
    <div class="newsItem">
        <h4>Dreamhack inställt</h4>
        <p>
            På grund av något slags virus har DreamHack valt att ställa in sitt sommarevenemang på Elmia i år.
            <br />
            Detta har gjort det enklare och billigare att få tag på hotellrum för de som varit intresserade av detta.
            <br />
            DreamHack Summer skulle ha pågått under samma helg som vårt bröllop, vilket innebar att många hotell var fullbokade eller extra dyra.
            <br />
            <br />
            Nu kommer bröllopsfesten vara på Rocksjön (Hasse på sjökanten) och där har de också hotell: <a href="http://rocksjon.se/restaurang/hotell/">Rocksjön Hotell och Restaurang</a>.
            <br />
            Rocksjön ligger 3km från centrum.
        </p>
        <span class="">2020-06-12 11:45</span>
    </div>
    <div class="newsItem">
        <h4>Frågor och presentlista</h4>
        <p>
            Nu har vi lagt upp lite svar på frågor som vi fått och lite annan kort information på sidan @Html.ActionLink("Frågor och svar", "Svar", "Home").
            <br />
            Vi har för de som önskat också lagt upp en presentlista på sidan @Html.ActionLink("Presenter", "Presenter", "Home")
        </p>
        <span class="">2020-04-26 16:01</span>
    </div>
    <div class="newsItem">
        <h4>Registrering av inbjudan</h4>
        <p>
            Nu finns det möjlighet att bekräfta att ni kommer på sidan @Html.ActionLink("Inbjudan", "Inbjudan", "Home").
            <br />
            Glöm inte att ange om ni har några allergier, specialkost eller annat som vi behöver ta hänsyn till.
        </p>
        <span class="">2019-10-14 18:13</span>
    </div>
</div>

<script type="text/javascript">
    var countDownDate = new Date("Aug 8, 2020 14:00:00").getTime();
    var x = setInterval(function () {
        var now = new Date().getTime();
        var distance = countDownDate - now;
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        document.getElementById("countDownDate").innerHTML = days + " dagar, " + hours + " timmar, "
            + minutes + " minuter och " + seconds + " sekunder ";
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("countDownDate").innerHTML = "EXPIRED";
        }
    }, 1000);
</script>